#extension-invasive-kanji-coversheet {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    border: none !important;
    background-color: #fff !important;
    z-index: 2147483647 !important;
    -webkit-transition: opacity 0.5s ease-out !important;
    transition: opacity 0.5s ease-out !important;

    /* leave opacity without !important or it will be difficult to override */
    opacity: 0;
}