/* -------------------------------- DEFAULT --------------------------------- */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: arial;
    color: #333;
    overflow: hidden;
    font-size: 25px;
    background-color: white;
    text-align: center;
}

/* -------------------------------- CONTAINER ------------------------------- */

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.2s ease-out 0s, opacity 0.2s;
    transition: transform 0.2s ease-out 0s, opacity 0.2s;
    z-index: 0;
}

.offscreen {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

/* --------------------------- QUESTION ELEMENTS ---------------------------- */

.readings {
    display: block;
    position: absolute;
    left: 30%;
    width: 40%;
    top: 25%;
    line-height: 1.6em;
    margin-top: -0.8em;
    font-size: 1em;
    word-spacing: 0.5em;
    text-align: center;
    color: #666;
    text-shadow: 1px 1px 1px rgba(20,20,20,0.1);
    white-space: pre-line;
}

.question {
    display: inline-block;
    position: relative;
    top: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    font-size: 4em;
    text-align: center;
    text-shadow: 3px 3px 1px rgba(0,0,0,0.1);
    color: inherit;
    text-decoration: none;
}

.question[href]:hover {
    color: rgb(30, 60, 130);
    text-shadow-color: rgba(30, 60, 130, 0.1);
}

.answer {
    position: absolute;
    display: block;
    top: 75%;
    left: 40%;
    width: 20%;
    margin: -1.4em 0 0 -0.8em;
    font-size: 0.64em;
    line-height: 2em;
    font-weight: bold;
    padding: 0.4em 0.8em;
    outline: none;
    text-align: center;
    white-space: pre-line;
}

input.answer {
    border-radius: 3px;
    border: solid 1px #dadada;
    background: #fff;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
}

.correctAnswer {
    position: absolute;
    display: block;
    opacity: 1;
    top: 75%;
    left: 30%;
    width: 40%;
    font-size: 0.88em;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: -0.5em;
    color: #666;
    text-shadow: 1px 1px 1px rgba(20,20,20,0.1);
}

/* ----------------------------- TIMER INDICATOR ---------------------------- */

#timer {
    position: absolute;
    top: 64.5%;
    left: 40%;
    width: 20%;
    height: 1px;
    background-color: #dadada;
    opacity: 0;
}

.timedOut {
    opacity: 1 !important;
    left: 50% !important;
    width: 0% !important;
    
    -webkit-transition:
        left 10s linear 0s,
        width 10s linear 0s,
        opacity 5s ease-in 0s;
    transition:
        left 10s linear 0s,
        width 10s linear 0s,
        opacity 5s ease-in 0s;
}

/* ----------------------------- INFORMATIONAL ------------------------------ */

#info {
    position: absolute;
    left: 0;
    top: 64.5%; /* slightly offset to bottom because the answer is heavy */
    width: 100%;
    margin-top: -0.5em;
    font-size: 0.64em;
    line-height: 1em;
    color: #dadada;
    text-align: center;

    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out 0s;
    transition: opacity 0.2s ease-out 0s;
}

/* ------------------------------- NAVIGATION ------------------------------- */

nav {
    position: fixed;
    margin: 0 0 0 -70px;
    padding: 0;
    bottom: 0;
    width: 140px;
    left: 50%;
    z-index: 1;
}

nav a {
    display: block;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 20px 10px;
    width: 50px;
    font-size: 0.52em;
    text-align: center;
    color: rgba(0,0,0,0.2);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid rgba(0,0,0,0);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

nav a:hover {
    color: #666;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    border-bottom: 3px solid rgba(0,0,0,0.6);
}