html, body {
    background: #fff;
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #333;
}

/* ------------------------------- CONTAINER -------------------------------- */

#container {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    padding: 0;
    overflow: hidden;
}

/* --------------------------------- HEADER --------------------------------- */

header {
    height: 60px;
}

h1 {
    float: left;
    margin: 0;
    letter-spacing: -1px;
    line-height: 60px;
    padding-left: 60px;
    background: url('./images/icon_48.png') left center no-repeat;
}

nav {
    height: 60px;
    float: right;
    border-bottom: 1px solid #eaeaea;
}

.nav-item {
    display: block;
    float: left;
    margin-right: 20px;
    height: 60px;
    font-size: 26px;
    line-height: 60px;
    text-align: center;

    overflow: hidden;

    color: #666;

    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item:hover {
    color: #333;
}

.nav-item:target, .nav-item:target:hover {
    color: #333;
    border-bottom-color: #ff5555;
    outline: none;
}

#options {
    -webkit-animation-duration: 0.8s;
}

@-webkit-keyframes confirmsave {
    0% { line-height: 60px; }
    20% { line-height: 28px; }
    80% { line-height: 28px; }
    100% { line-height: 60px; }
}

/* -------------------------------- SECTIONS -------------------------------- */

#sections {
    float: left;

    width: 1200px;
    height: 400px;

    -webkit-transform: translateX(0px);
    transform: translateX(0px);

    -webkit-transition: -webkit-transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s;
}

section {
    width: 600px;
    height: 400px;
    float: left;
}

section p {
    padding-top: 5px;
    line-height: 1.6em;
}

section a {
    color: #993333;
    text-decoration: none;
}

section a:hover {
    color: #ea3333;
}

/* --------------------------------- OPTIONS -------------------------------- */

fieldset {
    margin: 26px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}

input {
    padding-left: 10px;
}

label {
    padding-right: 10px;
}